$text-color: #2C2C2C;
$pink-color: #FF6C6B;



.small-devices-bar {

    .small-navbar {
        border-bottom: 5px solid $pink-color;

        .burger-icon {
            cursor: pointer;
        }

        .btn {
            display: inline-block;
            background-color: $pink-color;
            color: #ffffff;
            padding: 2px 10px;


        }

    }

    .logo {
        font-weight: 900;
        font-size: 1.2rem;
        left: 50%;
        transform: translate(-50%);
        z-index: 0;
        cursor: pointer;
    }
}

.offcanvas {
    background: rgba(255, 107, 107, 0.8);

    
    .offcanvas-body {
        flex-direction: column;
    
        .discover, .best-sellers, .categories, .search, .cart {
            font-weight: bold;
            font-size: 1rem;
            cursor: pointer;
            background-color: transparent;
        }
    }
}